.page-content{padding:0px 0px;}
.form-actions{margin:0px 0px;height:50px; padding:0px 0px 0px 0px;}
.ui-jqgrid .ui-jqgrid-bdiv{overflow:hidden;}
#export{
    margin-left: 100%;
    margin-top: -15px;
}