.font-td{
	width:20%;
	height:60px;
	font-weight:700;
	font-style:normal;
	font-size:14px;
	color:#2D6CA2;
}
.font-td2{
	width:10%;
	height:60px;
	font-weight:700;
	font-style:normal;
	font-size:14px;
	color:#2D6CA2;
}
.in-td{
	 width:30%;
	 height:60px;
 }
.in-td2{
	width:90%;
	height:60px;
}
.inTex-bor{
	border:2px;
	width:200px;
	height:50px;
	font-weight:bold;
	font-size:14px;
	border-style:solid;
}
.inSel-bor{
	width:173px;
	height:30px;
	font-weight:bold;
	font-size:14px;
	border-style:solid;
}